<!--large screen size-->
<ng-container *ngIf="screenSize === 'Large'">
  <nz-row>
    <nz-col nzLg="12" nzXl="12" nzXXl="12" [style.background]="'#29937a'">1</nz-col>
    <nz-col nzLg="12" nzXl="12" nzXXl="12" [style.background]="'#600c7c'">2</nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzLg="8" nzXl="8" nzXXl="8" [style.background]="'#178506'">3</nz-col>
    <nz-col nzLg="16" nzXl="16" nzXXl="16" [style.background]="'#05389d'">4</nz-col>
  </nz-row>
</ng-container>

<!--medium screen size-->
<ng-container *ngIf="screenSize === 'Medium'">
  <nz-row>
    <nz-col nzMd="12" [style.background]="'#29937a'">1</nz-col>
    <nz-col nzMd="12" [style.background]="'#600c7c'">2</nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzMd="12" [style.background]="'#178506'">3</nz-col>
    <nz-col nzMd="12" [style.background]="'#05389d'">4</nz-col>
  </nz-row>
</ng-container>

<!--small screen size-->
<ng-container *ngIf="screenSize === 'Small'">
  <nz-row>
    <nz-col nzXs="24" nzSm="24" [style.background]="'#29937a'">1</nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzXs="24" nzSm="24" [style.background]="'#600c7c'">2</nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzXs="24" nzSm="24" [style.background]="'#178506'">3</nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzXs="24" nzSm="24" [style.background]="'#05389d'">4</nz-col>
  </nz-row>
</ng-container>
