<nz-card nzTitle="Card title">
  <ng-template ngFor let-slider [ngForOf]="sliders | keyvalue">
    <nz-row>
      <nz-col nzSpan="24">
        <nz-slider [nzMin]="slider.value.min"
                   [nzMax]="slider.value.max"
                   [(ngModel)]="slider.value.value"
                   [nzStep]="slider.value.step"
                   [nz-tooltip]="getTooltipText(slider.value.value, slider.key)"
                   [nzTipFormatter]="null"></nz-slider>
      </nz-col>
    </nz-row>
  </ng-template>

  <nz-row>
    <nz-col class="centered" nzSpan="24" [ngStyle]="{'display': 'flex', 'justify-content': 'center'}">
      <div class="rectangle" [ngStyle]="{'background-color': color}"></div>
    </nz-col>
  </nz-row>

  <nz-row>
    <nz-col class="centered" nzSpan="24" [ngStyle]="{'display': 'flex', 'justify-content': 'center'}">
      <button nz-button nzType="primary">Demo button</button>
    </nz-col>
  </nz-row>
</nz-card>
